<!DOCTYPE html>
<html class="no-js" lang="ru">
    <head>
        <meta name="viewport" content="width=1270"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Taoblago.ru - Интернет магазин товаров из Китая. Доставка товаров из Китая.</title>
        <meta name="description" content="Покупка и доставка товаров с taobao.com и других интернет-магазинов Китая.">
        <meta name="keywords" content="посредник taobao, таобао дешево, заказать из китая, таобао благовещенск, таобао на русском языке">
        <!--         <link rel="shortcut icon" type="image/x-icon" href="static/img/0000/0003/7565/37565879.ahkaerrd4z.16x16.ico"/> -->
        <link href="styles.css" media="screen" rel="stylesheet" type="text/css"/>
        <link href="view.css" media="screen" rel="stylesheet" type="text/css"/>
    </head>
    <body id="top-body" data-html-version="845039680435609820410" data-grid="7" data-ng-controller="BlocksController as blockCtrl" data-ng-init="moduleId = 1" data-lang="ru_RU" style="background: none;">
        <div id="main-wrapper" style="height: 100%; margin-top: auto;">
            <div id="wrapper">
                <div id="container" class="wrapperBlock">
                    <div class="bg" style="background-color: #fcfbf9; background-image: url(35546898.ptr2b340sl.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: scroll; background-size:initial; -webkit-background-size:initial;-webkit-background-size:initial;-moz-background-size:initial;-o-background-size:initial;"></div>
                    <div id="wrapper-window" style="display:none"></div>
                    <header class="top-header">
                        <div class="overlay"></div>
                        <div class="widgets">
                            <table>
                                <tr>
                                    <td class="google-translate"></td>
                                    <td class="top-contacts">
                                        <section id="topcontacts" data-block-id="3" class="onmain  widget on-view widget-block">
                                            <div data-ng-non-bindable class="content-block" id="topcontacts-show">
                                                <ul class="list-top-contacts">
                                                    <li class="phone-number desktop notranslate">
                                                        <div class="grid-7-sprite-phone inline-block -mg-r-10"></div>
                                                        <span class="js-phone-number__7914595-02-05">
                                                            <span class="infoDigits">+7 963</span>
                                                            808-08-05
                                                        
                                                        
                                                        </span>
                                                    </li>
                                                    <li class="phone-number mobile notranslate">
                                                        <div class="grid-7-sprite-phone inline-block -mg-r-10"></div>
                                                        <a class="js-phone-number__7963808-08-05 inline-block" href="tel:+7963808-08-05">+7 963 808-08-05</a>
                                                    </li>
                                                    <li class="feedback">
                                                        <a href="#feedback" class="feedback-btn" data-type="0">
                                                            <span class="inline-block grid-7-sprite-message -mg-l-18"></span>
                                                            <span class="inline-block -pd-l-18">Напишите нам</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                    </td>
                                    <td class="top-cart"></td>
                                </tr>
                            </table>
                        </div>
                    </header>
                    <!--                     <div class="-text-center -relative">
                        <div class="inline-block">
                            <section id="company-logo" class="block-1 widget-block">
                                <div id="site-logo">
                                    <link rel="image_src" href="35546851.fy1nszzmws.W215.jpg"/>
                                    <a href="index.html">
                                        <img src="35546851.fy1nszzmws.W215.jpg" alt="" style="max-width:215px;"/>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
 -->
                    <div class="-relative"></div>
                    <div class="-text-center -relative">
                        <div class="inline-block">
                            <nav id="main-menu">
                                <div class="site-menu">
                                    <div class="overlay"></div>
                                    <ul>
                                        <li id="lnk-1" data-sort="0" class="active disable-sort" data-loc=mainpage data-label="Главная">
                                            <a href="index.html">
                                                <span class="active-link">Главная</span>
                                            </a>
                                        </li>
                                        <li id="lnk-2" data-sort="1" data-label="Как сделать заказ">
                                            <a href="kak-sdelat-zakaz.html">Как сделать заказ</a>
                                        </li>
                                        <li id="lnk-3" data-sort="2" data-label="Условия и гарантии">
                                            <a href="usloviya-i-garantii.html">Условия и гарантии</a>
                                        </li>
                                        <li id="lnk-4" data-sort="3" data-label="Тарифы на доставку">
                                            <a href="tarify-na-dostavku.html">Тарифы на доставку</a>
                                        </li>
                                        <li id="lnk-5" data-sort="4" data-label="FAQ">
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                        <li id="lnk-6" data-sort="5" data-label="Отзывы">
                                            <a href="comment.html">Отзывы</a>
                                        </li>
                                        <!--                                         <li id="lnk-7" data-sort="6" data-label="Скачать">
                                            <a href="documents.html">Скачать</a>
                                        </li> -->
                                        <li id="lnk-8" data-sort="7" data-label="Контакты">
                                            <a href="contacts.html">Контакты</a>
                                        </li>
                                        <li class="delim"></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="-relative site-content">
                        <section data-blocks-list id="content" class="js-blocks-list" data-ng-controller="ContentController">
                            <div data-sorted-blocks class="js-sorted-blocks blocks-list" data-region="1" data-module="1">
                                <section data-widget-desc data-widget-container data-widget-id="6" data-widget-sort="1" data-widget-url="/widget?isDomain=1&amp;route=mainPage&amp;on_main=1&amp;type=3&amp;widget_id=6" data-region="1" data-widget-type="3" class="widget-sort widget-block block-6 widget__wrapper">
                                    <section id="desc" data-widget-content class="onmain widget on-view widget-block -nt-widget widget-row">
                                        <header class="infoPlate ">
                                            <img src="37747159.11sbznxw9b.W1170.jpg">
                                            <h1>Каталог ссылок</h1>
                                        </header>
                                        <div class="content-block" id="desc-show" data-ng-show="$ctrl.showContent()">
                                            <div class="user-inner">
                                                <div class="mr-block">
                                                    <div class=" mrb-row mrb-row-index-0">
                                                        <div class="mrb-row__content mrb-inline-group_top">
                                                            <div class="mrb-col mrb-col-index-0 mrb-small-18">
                                                                <div class="-gd-content mrb-block-index-0">
                                                                    <div class="user-inner">
                                                                        <div class="table-wrap clearfix">
                                                                            <table style="width: 99%; margin: 0px;" class=" -pull-center">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="zhenskaya-odezhda.html">
                                                                                                <img id="img-37520591" src="37520591.g3iuk2kfb1.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520591.3ffnr11tpz.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="muzhskaya-odezhda.html">
                                                                                                <img id="img-37520643" src="37520643.p81aiy736t.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520643.r1m95a7fkx.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="detskaya-odezhda-i-obuv.html">
                                                                                                <img id="img-37520682" src="37520682.l9fium233w.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520682.gfqegfaqq6.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="sumki-i-koshelki.html">
                                                                                                <img id="img-37520718" src="37520718.f7xrsikxlj.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520718.tttkuhe7oc.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="vsjo-dlya-doma.html">
                                                                                                <img id="img-37520723" src="37520723.564dm62shc.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520723.5fic8j5pr9.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="zhenskaya-obuv.html">
                                                                                                <img id="img-37520688" src="37520688.5nl8iv38jd.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520688.f7h1uflsh6.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="muzhskaya-obuv.html">
                                                                                                <img id="img-37520698" src="37520698.5p0614l8en.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520698.sixbry4psb.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="detskie-tovary.html">
                                                                                                <img id="img-37520704" src="37520704.15q0b0w9bb.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520704.qqp37klhby.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="aksessuary-i-bizhuteriya.html">
                                                                                                <img id="img-37520722" src="37520722.bne9lzmqlx.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520722.ilk7spu70e.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="zootovary.html">
                                                                                                <img id="img-37520726" src="37520726.jaqztu25dl.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520726.iap72psdjh.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="elektronika.html">
                                                                                                <img id="img-37520729" src="37520729.15brf5xzh8.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520729.47ahhv2d18.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="sportivnye-tovary.html">
                                                                                                <img id="img-37520731" src="37520731.682h6e368e.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520731.19q9gffbap.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="dlya-avto-i-moto.html">
                                                                                                <img id="img-37520732" src="37520732.fxpw37umpi.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520732.lgmmtqneqt.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="vsjo-dlya-prazdnika.html">
                                                                                                <img id="img-37520734" src="37520734.o42wu3oy99.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520734.n0e58o2i3u.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="dlya-ofisa-i-biznesa.html">
                                                                                                <img id="img-37520735" src="37520735.5wixgd5cpb.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520735.2h4x1xo7j3.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="bytovaya-tekhnika.html">
                                                                                                <img id="img-37520737" src="37520737.dc80ti43ty.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520737.k4zure7tzw.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="turizm-i-aktivnyj-otdykh.html">
                                                                                                <img id="img-37520738" src="37520738.lxa1jidpq3.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520738.7psftcgbtv.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="dosug-i-khobbi.html">
                                                                                                <img id="img-37520741" src="37520741.rd0ih9fkng.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520741.9fsfnl5wj2.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="krasota-i-zdorove.html">
                                                                                                <img id="img-37520742" src="37520742.o5l12i09v6.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520742.5ybz4zgz7k.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="prodtovary.html">
                                                                                                <img id="img-37520744" src="37520744.64e1f3m7d3.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520744.mb65igo1vm.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="magazin-na-divane.html">
                                                                                                <img id="img-37520748" src="37520748.1hqrn4xh3d.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520748.rae8fcmxle.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            <br/>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="optovye-zakupki.html">
                                                                                                <img id="img-37520749" src="37520749.3y4a35h5oz.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520749.skyb8oexrc.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            <br/>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="tovary-dlya-vzroslih.html">
                                                                                                <img id="img-37520750" src="37520750.6jl3ji0fnz.W665.jpg" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520750.d39wx4plk5.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td>
                                                                                            <br>
                                                                                        </td>
                                                                                        <td>
                                                                                            &nbsp;&nbsp;
                                                                                            <a href="rukovodstvo.html">
                                                                                                <img id="img-37520754" src="37520754.ky3r5xvmwd.W665.jpg" alt="" title="" class="fancy-img-post" style="width: 200px; height: 70px;" data-eval="37520754.67r0joihfz.jpg"/>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td>
                                                                                            <br>
                                                                                        </td>
                                                                                        <td></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p style="text-align: justify;">
                                                                            <span style="color: #000000;">
                                                                                <span style="font-weight: bolder; font-weight: bolder;">
                                                                                    <span style="font-size: 18px;">Taoblag.ru</span>
                                                                                    &ndash;надежный посредник таобао (посредник taobao) в России, г. Благовещенск.
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                </span>
                                                                                Поможем вам <span style="font-weight: bolder; font-weight: bolder;">заказать из Китая</span>
                                                                                товары представленные в крупнейших <span style="font-weight: bolder; font-weight: bolder;">интернет магазинах: таобао</span>
                                                                                (taobao.com), тмалл (tmall.com), алибаба (1688.com) и других. Выгодное расположение и близость наших офисов в Китае (г. Хэйхэ) и России (г. Благовещенск), между ними всего около 10 км, дает существенное преимущество в нашем деле, <span style="font-weight: bolder; font-weight: bolder;">доставка товаров из Китая</span>
                                                                                осуществляется практически ежедневно. А не первый год работы в данной сфере и слаженный коллектив, позволяет нам выкупать товар в максимально <span style="font-weight: bolder; font-weight: bolder;">короткие сроки</span>
                                                                                .
                                                                            
                                                                            
                                                                            
                                                                            
                                                                            </span>
                                                                        </p>
                                                                        <p style="text-align: justify;">
                                                                            <span style="color: #000000;">
                                                                                С нашей помощью, вы сможете быстро найти, оплатить и получить понравившиеся <span style="font-weight: bolder; font-weight: bolder;">товары китайских продавцов</span>
                                                                                , не выходя из дома. Не важно, будь то платье или новый телефон, велосипед или запчасти для автомобиля, модная сумочка или производственный станок. Все это и многое-многое другое вы сможете выбрать из миллионов товаров и купить на <span style="font-weight: bolder; font-weight: bolder;">таобао дешево</span>
                                                                                . Покупки возможны как в розницу, так и оптом, напрямую из Китая.
                                                                            
                                                                            
                                                                            
                                                                            
                                                                            </span>
                                                                        </p>
                                                                        <p style="text-align: justify;">
                                                                            <span style="color: #000000;">
                                                                                Большой и удобный каталог ссылок на категории товаров <span style="font-weight: bolder; font-weight: bolder;">таобао на русском языке</span>
                                                                                , представленный на нашем сайте, позволит вам без проблем ориентироваться в огромном ассортименте товара. А с нашим подробным <span style="font-weight: bolder; font-weight: bolder;">руководством по покупкам на таобао</span>
                                                                                вы легко освоите интерфейс и принцип работы данного сервиса, даже не имея базового знания китайского языка.
                                                                            
                                                                            
                                                                            
                                                                            
                                                                            </span>
                                                                        </p>
                                                                        <p style="text-align: justify;">
                                                                            <br/>
                                                                        </p>
                                                                        <table style="width: 1106px; height: 411px; margin: 0px;" height="568">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <p style="text-align: center;">
                                                                                            <span style="color: #000000; font-weight: bolder; font-size: 20px; font-weight: bolder;">Для чего необходим посредник taobao?</span>
                                                                                        </p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <br/>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>
                                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                            <span style="color: #000000;">
                                                                                                <span style="font-weight: bolder; font-weight: bolder;">
                                                                                                    <span style="font-size: 20px;">
                                                                                                        Почему люди выбирают <span style="text-align: start; color: #000000; font-weight: normal; font-style: normal; font-size: 20px; font-weight: normal;">T</span>
                                                                                                        aoblag.ru?
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    </span>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="vertical-align: top; width: 555px;">
                                                                                        <p style="text-align: left;">
                                                                                            <span style="color: #000000;">Taobao.com ориентирован в основном на внутренний рынок Китайской Народной Республики, в следствии чего совершать покупки гражданам других стран достаточно сложно, и вот почему:</span>
                                                                                            <br/>
                                                                                        </p>
                                                                                        <ul style="text-align: left;">
                                                                                            <li>
                                                                                                <span style="color: #000000;">Товар продается за китайские юани.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span style="color: #000000;">Практически все продавцы не высылают товар за пределы&nbsp;своей страны.</span>
                                                                                                <br/>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span style="color: #000000;">Большая часть продавцов не имеют знания английского, и уж тем более русского языка.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span style="color: #000000;">Для приобретения товара нужно иметь аккаунт платежной системы Alipay и счет в банке Китая.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span style="color: #000000;">Предъявить претензии к товару можно в течении короткого промежутка времени.</span>
                                                                                                <br/>
                                                                                            </li>
                                                                                        </ul>
                                                                                        <p style="text-align: left;">
                                                                                            <span style="color: #000000;">В решении всех этих сложностей вам поможет команда Taoblag.ru</span>
                                                                                        </p>
                                                                                    </td>
                                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                                    <td style="vertical-align: top;">
                                                                                        <p>Потому, что:</p>
                                                                                        <ul>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Более 5 лет успешной работы с Китаем.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Тысячи успешно выполненных заказов.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Организуем доставку в любые регионы России.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Индивидуальный подход к каждому клиенту.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Быстрая и качественная обработка заказов.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Приемлемый внутренний курс юаня.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Помощь в поиске партий товара.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Отсутствие минимальной стоимости заказа.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Использование Express доставки по Китаю.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Отсутствие ограничений веса заказа.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Оптимальный срок доставки товаров в Россию.</span>
                                                                                            </li>
                                                                                            <li style="text-align: justify;">
                                                                                                <span style="color: #000000;">Быстрая подготовка и отправка посылок в регионы.&nbsp;</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p style="text-align: center;">
                                                                            <br/>
                                                                        </p>
                                                                        <p style="text-align: center;">
                                                                            <span style="color: #000000; font-weight: bolder; font-size: 20px; font-weight: bolder;">Приятных покупок!</span>
                                                                        </p>
                                                                        <p>
                                                                            <br/>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div data-ng-if="$ctrl.loaded" data-ui-view="desc-view"></div>
                                </section>
                                <section data-widget-services data-widget-container data-widget-id="8" data-widget-sort="1" data-widget-url="/widget?isDomain=1&amp;route=mainPage&amp;on_main=1&amp;type=4&amp;widget_id=8" data-region="1" data-widget-type="4" class="widget-sort widget-block block-8 widget__wrapper">
                                    <div data-ng-if="$ctrl.loaded" data-ui-view="services-view"></div>
                                </section>
                                <section data-widget-posts data-widget-container data-widget-id="7" data-widget-sort="1" data-widget-url="/widget?isDomain=1&amp;route=mainPage&amp;on_main=1&amp;type=5&amp;widget_id=7" data-region="1" data-widget-type="5" class="widget-sort widget-block block-7 widget__wrapper">
                                    <div data-ng-if="$ctrl.loaded" data-ui-view="posts-view"></div>
                                </section>
                                <section data-widget-catalog data-widget-container data-widget-id="9" data-widget-sort="1" data-widget-url="/widget?isDomain=1&amp;route=mainPage&amp;on_main=1&amp;type=11&amp;widget_id=9" data-region="1" data-widget-type="11" class="widget-sort widget-block block-9 widget__wrapper">
                                    <div data-ng-if="$ctrl.loaded" data-ui-view="catalog-view"></div>
                                </section>
                            </div>
                            <div data-deleted-blocks class="js-deleted-blocks blocks-list"></div>
                        </section>
                    </div>
                </div>
                <div class="footer-container">
                    <footer id="footer">
                        <section id="additional-info" class="clearfix">
                            <div id="footer-text" class="footer-color client">
                                <span id="footertext1">2013 - 2017 © Taoblag.ru
            </span>
                                <br/>
                                <span id="footertext2">Интернет магазин товаров из Китая</span>
                            </div>
                            <div id="project-info">

                            </div>
                        </section>
</footer></div></div>
</div>

</body></html>
